doctype
html(lang="zh-CN")
    head
        include head

    body
        div#stage.container
            div.row
                div#main-container.main-container.fadeInTop
                    block content
                    div.visible-xs.site-bottom-footer
                        include footer
                include sidebar

        script(defer="" src="/js/typography.js")
        script(async="" crossorigin="anonymous" src="https://unpkg.com/disqusjs@1.3.0/dist/disqus.js")
        script(defer="" src="https://unpkg.com/vanilla-lazyload/dist/lazyload.min.js")
        script.
            window.lazyLoadOptions = {
                elements_selector: ".lazy",
                threshold: 0
            };