doctype
html(lang="zh-CN")
    head
        include head

    body
        div#stage.container
            div.row
                include sidebar
                div#main-container.col-sm-9.col-xs-12.main-container.fadeInTop
                    block content
                    div.visible-xs.site-bottom-footer
                        include footer

        script(src="https://npm.elemecdn.com/jquery@3.1.0/dist/jquery.min.js")
        script(src="https://npm.elemecdn.com/bootstrap@3.3.7/dist/js/bootstrap.min.js")
        script(src="https://npm.elemecdn.com/jquery-migrate@1.2.1/dist/jquery-migrate.min.js")
        script(src="https://npm.elemecdn.com/xfb/js/jquery.appear.min.js")
        script(src="https://npm.elemecdn.com/xfb/js/typography.js")
        script(src="https://npm.elemecdn.com/disqusjs@1.3.0/dist/disqus.js" async="" crossorigin="anonymous")
        script(defer src="https://npm.elemecdn.com/vanilla-lazyload/dist/lazyload.min.js")
        script.
            window.lazyLoadOptions = {
                elements_selector: ".lazy",
                threshold: 0
            };