// $backgroundColor: #252d38;
// var(--foregroundColor): hsla(0, 0%, 100%, 0.86);
// var(--titlegroundColor): hsla(0, 0%, 100%, 0.96);
// var(--title-h2groundColor): hsla(0, 0%, 100%, 0.9);
// //var(--pregroundColor): #3c495b;
// var(--pregroundColor): #282c34;
// var(--codegroundColor): #363a42;
// var(--meguminGroundColor): #ff4b44;
$fontList: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB,
  Source Han Sans SC, Noto Sans CJK SC, Microsoft YaHei, WenQuanYi Micro Hei, WenQuanYi Zen Hei, Helvetica Neue, Arial,
  sans-serif;

$code-font-family: monofoki, Menlo, Monaco, Consolas, 'Courier New', monospace;

:root {
  color-scheme: dark;
  --backgroundColor: #252d38;
  --foregroundColor: hsla(0, 0%, 100%, 0.86);
  --foregroundColor-darken: #000;
  --foregroundColor-darken-a: #3f587d !important;
  --titlegroundColor: rgb(218, 218, 219);
  //--title-h2groundColor: hsla(0, 0%, 100%, 0.9);
  //var(--pregroundColor): #3c495b;
  --pregroundColor: #282c34;
  --codegroundColor: #363a42;
  --meguminGroundColor: #ff4b44;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: $fontList;
  color: var(--titlegroundColor);
  font-weight: 600;
}

body {
  font-size: 17px;
  line-height: 1.7;

  // @if lightness($backgroundColor) >50 {
  //   background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");
  // } @else {
  //   background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACJJREFUeNpi/P//Py8DpQCXISBxJlING4QaGEdDiQgAEGAAg8sST3LGZYoAAAAASUVORK5CYII=");
  // }
  background-color: #21252b;
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  min-height: 100vh;
}

pre {
  color: var(--pregroundColor) !important;
  background-color: var(--pregroundColor) !important;
  border: 1px solid var(--pregroundColor) !important;
  padding: 4px;
  margin-bottom: 20px;
  font-size: 15px;

  * {
    font-family: $code-font-family;
    background: transparent !important;
  }
}

code {
  margin: auto 4px;
  background-color: var(--codegroundColor);
  color: #abb2bf;
  border-radius: 2px;
  font-size: 15px;
  font-family: $code-font-family;
}

code.hljs {
  word-break: normal;
  white-space: pre;
  display: block;
  overflow-x: auto;
}

iframe {
  color-scheme: light;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid var(--codegroundColor);
  border-left: 1px solid var(--codegroundColor);
}

td, th {
  border: 1px solid var(--codegroundColor);
  border-top: none;
  border-left: none;
}

hr {
  border-color: #575757;
}
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf !important;
  background: #282c34 !important;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370 !important;
  font-style: italic !important;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd !important;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75 !important;
}

.hljs-literal {
  color: #56b6c2 !important;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379 !important;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66 !important;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee !important;
}

.hljs-built_in,
.hljs-title.hljs-class,
.hljs-class .hljs-title {
  color: #e6c07b !important;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
