// var(--backgroundColor): #ffffff;
// var(--foregroundColor): #2e405b;
// var(--codegroudColor): #e6e4e4;
// var(--meguminGroundColor): #ff4b44;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500;600;700&display=swap');
@import 'animation';

@font-face {
  font-family: 'monofoki';
  font-style: normal;
  src: url('https://npm.elemecdn.com/xfb/fonts/monofoki.ttf') format('truetype');
  font-display: swap;
}

/* HarmonyOS_Sans Regular*/
@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.a.woff2) format('woff2');
  unicode-range: U+0000-007F, U+0080-00FF, U+3002, U+FF1F, U+FF01, U+FF0C, U+3001, U+FF1B, U+FF1A, U+300C, U+300D, U+300E, U+300F, U+2018, U+2019, U+201C, U+201D, U+FF08, U+FF09, U+3014, U+3015, U+3010, U+3011, U+2014, U+2026, U+2013, U+FF0E, U+300A, U+300B, U+3008, U+3009;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.b.woff2) format('woff2');
  unicode-range: U+4E00-57C3;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.c.woff2) format('woff2');
  unicode-range: U+57C4-6187;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.d.woff2) format('woff2');
  unicode-range: U+6188-6B4B;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.e.woff2) format('woff2');
  unicode-range: U+6B4C-750F;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.f.woff2) format('woff2');
  unicode-range: U+7510-7ED3;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.g.woff2) format('woff2');
  unicode-range: U+7ED4-8897;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.h.woff2) format('woff2');
  unicode-range: U+8898-925B;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.i.woff2) format('woff2');
  unicode-range: U+925C-9C1F;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.j.woff2) format('woff2');
  unicode-range: U+9C20-9FA5;
}

/* HarmonyOS_Sans Medium*/
@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.a.woff2) format('woff2');
  unicode-range: U+0000-007F, U+0080-00FF, U+3002, U+FF1F, U+FF01, U+FF0C, U+3001, U+FF1B, U+FF1A, U+300C, U+300D, U+300E, U+300F, U+2018, U+2019, U+201C, U+201D, U+FF08, U+FF09, U+3014, U+3015, U+3010, U+3011, U+2014, U+2026, U+2013, U+FF0E, U+300A, U+300B, U+3008, U+3009;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.b.woff2) format('woff2');
  unicode-range: U+4E00-57C3;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.c.woff2) format('woff2');
  unicode-range: U+57C4-6187;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.d.woff2) format('woff2');
  unicode-range: U+6188-6B4B;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.e.woff2) format('woff2');
  unicode-range: U+6B4C-750F;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.f.woff2) format('woff2');
  unicode-range: U+7510-7ED3;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.g.woff2) format('woff2');
  unicode-range: U+7ED4-8897;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.h.woff2) format('woff2');
  unicode-range: U+8898-925B;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.i.woff2) format('woff2');
  unicode-range: U+925C-9C1F;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.j.woff2) format('woff2');
  unicode-range: U+9C20-9FA5;
}

/* HarmonyOS_Sans Bold*/
@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.a.woff2) format('woff2');
  unicode-range: U+0000-007F, U+0080-00FF, U+3002, U+FF1F, U+FF01, U+FF0C, U+3001, U+FF1B, U+FF1A, U+300C, U+300D, U+300E, U+300F, U+2018, U+2019, U+201C, U+201D, U+FF08, U+FF09, U+3014, U+3015, U+3010, U+3011, U+2014, U+2026, U+2013, U+FF0E, U+300A, U+300B, U+3008, U+3009;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.b.woff2) format('woff2');
  unicode-range: U+4E00-57C3;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.c.woff2) format('woff2');
  unicode-range: U+57C4-6187;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.d.woff2) format('woff2');
  unicode-range: U+6188-6B4B;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.e.woff2) format('woff2');
  unicode-range: U+6B4C-750F;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.f.woff2) format('woff2');
  unicode-range: U+7510-7ED3;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.g.woff2) format('woff2');
  unicode-range: U+7ED4-8897;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.h.woff2) format('woff2');
  unicode-range: U+8898-925B;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.i.woff2) format('woff2');
  unicode-range: U+925C-9C1F;
}

@font-face {
  font-family: 'HarmonyOS_Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.j.woff2) format('woff2');
  unicode-range: U+9C20-9FA5;
}

:root {
  color-scheme: light;
  --background-color: #f4f4f4;
  --foreground-color: #2e405b;
  --foreground-color-darken: #000;
  --foreground-color-darken-a: #3f587d9e !important;
  --pre-background-color: #ececec;
  --code-background-color: #e6e4e4;
  --code-color: #383a42;
  --megumin-color: #ff4b44;
  --font-sans: HarmonyOS_Sans, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Segoe UI Emoji', 'Segoe UI Symbol', Helvetica, Arial, sans-serif;
  --title-font: 'Noto Serif SC', serif;
  --code-font: monospace, monofoki, Menlo, Monaco, Consolas, 'Courier New';
}

html,
body,
span {
  font-family: var(--font-sans);
  color: var(--foreground-color);
}

p {
  font-family: var(--font-sans);
  color: var(--foreground-color);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
  font-size: 1.375em;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: var(--font-sans);
  color: var(--foreground-color);
  font-weight: 600;
}

html {
  font-size: unset;
  background: var(--background-color);
}

.foreground {
  background: var(--foreground-color) !important;
}

.background {
  background: var(--background-color) !important;
}

.foreground-text * {
  color: var(--foreground-color) !important;
}

.background-text * {
  color: var(--background-color) !important;
}

body {
  font-size: 1em;
  line-height: 1.75;

  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");
  background-color: var(--background-color);

  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  min-height: 100vh;
}

.container {
  background-color: transparent;
  padding: 0;
  position: relative;
}

.full-width-container {
  width: 100vw;
}

.main-container {
  width: 620px;
  margin: 60px 100px 20px 0;
  overflow: hidden;

  :nth-child(1) {
    margin-top: 0;
  }
}

.row {
  margin: 0;
  display: flex;
  justify-content: center;
}

.vertical-text {
  writing-mode: vertical-rl;

  * {
    line-height: 1;
    text-align: left;
  }
}

.side-container {
  height: 100vh;
  position: sticky;
  top: 0;
  font-style: normal;
  font-size: 1em;
  transform: rotate(0deg);
  margin: 0;
  padding-top: 50px;
}

.ar-year {
  margin-top: 5px;
  margin-bottom: 5px;
}

.date {
  margin-bottom: 0px;
}

.ar-date {
  font-size: 16px;
  margin-bottom: 5px;
}

.archive :first-child {
  padding-left: 0;
}

.site-title {
  font-weight: bolder;
  font-style: normal;
  width: auto;
  height: auto;
  text-align: left;
  font-size: 2rem;
  padding: 0 0 25px 0;
  border-left: solid var(--foreground-color) 2px;
  transition: padding 0.8s ease 0s, background 0.8s ease 0s;

  &:hover {
    padding: 5px 0 20px 0;
    color: var(--background-color) !important;
    background: var(--foreground-color) !important;
    border-left: solid var(--foreground-color) 2px;

    * {
      color: var(--background-color) !important;
    }
  }

  :first-child {
    margin-right: 10px;
  }

  * {
    text-align: left;
    font-weight: bolder;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 0;
    font-family: var(--title-font);
  }
}

.site-title-small {
  padding-top: 1rem;
}

.site-title-links {
  margin-top: 30px;
  font-weight: bold;
  font-style: normal;
  // margin: 0;
  // padding: 60px 0;
  text-align: left;
  // position: fixed;
  // bottom: -25px;
}

.site-title-links ul.links {
  width: 6rem;
  list-style: none;
  padding: 0;
  columns: 2;
  column-gap: 5px;
}

.site-title-links ul.icon {
  list-style: none;
  padding: 0;
}

.site-title-links ul li {
  margin: 0;
  font-size: 18px;
}

.site-title-links a {
  border-bottom: solid var(--foreground-color) 2px;
}

.site-nav-footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

a {
  color: var(--foreground-color);
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  border-bottom: solid var(--foreground-color) 2px;
  padding: 0;
  cursor: pointer;
  cursor: hand;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    color: var(--background-color) !important;
    background-color: var(--foreground-color);
    border-bottom: solid transparent 2px;
  }

  &:focus {
    color: var(--foreground-color);
  }
}

.post-container a:not(.a-title-link, .a-tag, .headerlink, #more) {
  transition: unset;
  -moz-transition: unset;
  -o-transition: unset;
  -webkit-transition: unset;
  padding: 2px 0;
  margin: auto 4px;
  cursor: pointer;
  cursor: hand;
  background-color: initial;
  color: var(--foreground-color) !important;
  border-bottom: none;
  text-decoration: none !important;
  transition: all 0.3s ease;
  box-shadow: 0 -2px var(--megumin-color) inset;
}

.post-container a:not(.a-title-link, .a-tag, .headerlink, #more):hover,
.post-container a:not(.a-title-link, .a-tag, .headerlink, #more):focus {
  text-decoration: none;
}

.post-container a:not(.a-title-link, .a-tag, .headerlink, #more):hover {
  opacity: 1;
  //  transition: all .3s ease;
  box-shadow: 0 -8.8px var(--megumin-color) inset;
}

.a-title {
  text-decoration: none;
  background-color: transparent;
  border-bottom: solid transparent 2px;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.current {
  border-bottom: solid var(--foreground-color) 3px !important;
}

blockquote {
  font-size: unset;
  border-left: 5px solid #e8c0c0;
}

.a-mute {
  background-color: transparent;
  color: var(--foreground-color) !important;
  text-decoration: none;
  border-bottom: none;

  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--foreground-color) !important;
    text-decoration: none;
    border-bottom: none;
  }
}

.soc {
  margin: 0 5px 0 0;
  font-size: 18px !important;

  a {
    border-bottom: solid transparent 2px;
    padding-right: 5px;

    &:hover {
      color: var(--foreground-color-darken-a) !important;

      background-color: transparent !important;
      text-decoration: none;
      border-bottom: solid rgba(0, 0, 0, 0) 2px;
    }

    // &:focus {
    //   color: var(--foregroundColor-darken-a) !important;
    // }
  }
}

.meta-item {
  margin: 0 10px 0 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img.lazy {
  -webkit-transition: -webkit-filter 375ms ease-in 0.25s;
  transition: -webkit-filter 375ms ease-in 0.25s;
  transition: filter 375ms ease-in 0.25s;
  transition: filter 375ms ease-in 0.25s, -webkit-filter 375ms ease-in 0.25s;
}

img.lazy:not(.loaded) {
  -webkit-filter: blur(8px);
  filter: blur(8px);
  padding-bottom: 40%;
}

footer {
  margin-top: 10px;
  padding-top: 0;
  font-size: 12px;
  font-weight: bold;
}

footer * {
  margin: 0;
}

.post-container {
  margin: 0 0 20px 0;
  font-weight: normal;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  max-width: 50rem;
  margin: 3px 0;
}

.post-meta {
  font-size: 16px;
  margin: 10px 0;
}

.post-abstract {
  font-size: 16px;
}

li {
  margin: 5px 0;
}

figure {
  overflow: scroll;
}

figure>table {
  width: 100%;
}

pre {
  background-color: var(--pre-background-color) !important;
  border: 1px solid var(--pre-background-color) !important;
  padding: 4px;
  margin-bottom: 20px;
  font-size: 14px;

  code {
    font-size: inherit;
    font-weight: 400;

    &::before {
      content: "";
    }

    &::after {
      content: "";
    }
  }

  * {
    font-family: var(--code-font);
    background: transparent !important;
  }
}

code {
  margin: 0;
  background-color: unset;
  color: var(--code-color);
  font-family: var(--code-font);
  font-size: 0.875em;
  font-weight: 600;

  &::before {
    content: "`";
    font-family: 'Menlo'
  }

  &::after {
    content: "`";
    font-family: 'Menlo'
  }
}

code.hljs {
  word-break: normal;
  white-space: pre;
  display: block;
  overflow-x: auto;
}

figure {
  .gutter pre {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
    text-align: right;
    min-width: 3em;
  }

  .code {
    width: 99%;

    pre {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: solid rgba(0, 0, 0, 0.05) 1px;
      margin-right: 1px;
    }
  }
}

table {
  width: 100%;
  margin: 30px 0;
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid var(--foreground-color);
  border-left: 1px solid var(--foreground-color);
}

li>p {
  margin-bottom: 0px;
}

th {
  &[align="center"] {
    text-align: center;
  }

  &[align="right"] {
    text-align: right;
  }
}

td,
th {
  padding: 8px 12px;
  border: 1px solid var(--foreground-color);
  border-top: none;
  border-left: none;
}

hr {
  border-color: #c2c2c2;
}

@media screen and (min-width: 1920px) and (max-width: 2399px) {
  body {
    font-size: 1.0625rem;
  }
}

@media (min-height: 900px) {
  .site-title {
    font-size: 2.2rem;
  }

  .site-title-links ul.links {
    columns: unset;
    column-gap: unset;
  }

  .site-title-links ul.links li {
    margin-bottom: 10px;
  }
}


@media (max-width: 768px) {
  .row {
    flex-direction: column-reverse;
    align-items: center;
  }
  body {
    font-size: 15px;
  }

  blockquote p {
    font-size: 16px;
  }

  .site-title-large {
    font-size: 38px;
  }

  .site-title-small {
    font-size: 22px;
  }

  .vertical-text {
    writing-mode: horizontal-tb;
  }

  .site-title {
    margin: 0;
    font-weight: bolder;
    font-style: normal;
    width: auto;
    height: auto;
    font-size: 0.5em;
    padding: 0;
    border-left: none;
    text-align: center;
    transition: none;
  }

  .site-title * {
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .site-title:hover {
    color: var(--foreground-color) !important;
    background: transparent !important;
    padding: 0;
    border: none;
  }

  .site-title:hover * {
    color: var(--foreground-color) !important;
    background: transparent !important;
  }

  .main-container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0px 30px;
    overflow: auto;
  }

  .side-container {
    padding: 40px 30px 0 30px;
    height: auto;
    position: relative;
    left: 0;
    width: 100%;
  }

  .site-title-links {
    position: unset;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
  }

  .site-title-links ul.links {
    width: 100%;
    columns: unset;
    column-gap: unset;
  }

  .site-title-links ul.links li {
    display: inline;
    margin: 0 3px;
    font-size: 16px;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  a {
    padding: 0;
  }

  .post-title {
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0;
  }

  .post-meta {
    font-size: 14px;
    margin: 10px 0;
  }

  .post-abstract {
    font-size: 16px;
  }

  .soc {
    display: block !important;
  }

  .site-nav-footer {
    display: none !important;
  }

  .site-bottom-footer {
    display: block !important;
  }

  li.soc {
    margin-top: 5px !important;
  }
}


@media only screen and (max-width: 600px) {
  .site-title-large {
    font-size: 38px;
  }

  .site-title-small {
    font-size: 22px;
  }

  .vertical-text {
    writing-mode: horizontal-tb;
  }

  .site-title {
    margin: 0;
    font-weight: bolder;
    font-style: normal;
    width: auto;
    height: auto;
    font-size: 0.5em;
    padding: 0;
    border-left: none;
    text-align: center;
    transition: none;
  }

  .site-title * {
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .site-title:hover {
    color: var(--foreground-color) !important;
    background: transparent !important;
    padding: 0;
    border: none;
  }

  .site-title:hover * {
    color: var(--foreground-color) !important;
    background: transparent !important;
  }

  .main-container {
    width: 100%;
    text-align: left;
    height: auto;
    margin: 0;
    padding: 0px 30px;
    overflow: auto;
  }

  .side-container {
    padding: 40px 30px 0 30px;
    height: auto;
    position: relative;
    left: 0;
  }

  .site-title-links {
    position: unset;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
  }


  .site-title-links ul li {
    display: inline;
    margin: 0 3px;
    font-size: 16px;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  a {
    padding: 0;
  }

  .post-title {
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0;
  }

  .post-meta {
    font-size: 14px;
    margin: 10px 0;
  }

  .post-abstract {
    font-size: 16px;
  }

  .soc {
    display: block !important;
  }

  .site-nav-footer {
    display: none !important;
  }

  .site-bottom-footer {
    display: block !important;
  }
}

/*
Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax
base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #50a14f;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}